.benefits{
	display: flex;


	@include media('<=600px') {
		// здесь будут стили 768 - 1024
			flex-direction: column;
			align-items: center;
			max-width: 23.75em;
		}

  @include media('<=xs-phone') {
	// здесь будут стили 768 - 1024
		flex-direction: column;
	}
}

.benefits__item{
	flex: 1;
	padding: 0 3%;
	position: relative;


	@include media('<=600px') {
		// здесь будут стили 320 - 1024
		margin-bottom: 1.9375em;
		display: flex;

		&:last-child{
			margin-bottom: 0;
		}
	}


	&:before{
		content: url("../images/decor.png");
		position: absolute;
		top: 55px;
		right: 0;
		transform: translateX(50%);

		
		@include media('<=tablet') {
		// здесь будут стили 768 - 1024
		display: none;
		}

	

		@include media('<=xs-phone') {
			// здесь будут стили 320 - 1024
			display: none;
			}
	}

	p{

	@include media('>=tablet') {
		// здесь будут стили 768 - 1024
		max-width: 10.5625em;
	  }



	  @include media('<=xs-phone') {
		// здесь будут стили 320 - 1024
			max-width: 20em;
		}
	}

	&:first-child{
		padding-left: 3%;
	}

	&:last-child{
		padding-right: 3%; 

		&:before{
			display: none;
		}
	}
}