.headline{
	margin-top: 103px;
}

.headline__title{
  margin-bottom: 25px ;
}

.headline__subtitle{
	color: $dark-gray;
	font-family: 'Play';
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
	padding: 0 23%;
	margin-bottom: 62px;
}