.headline{
	
	text-align: center;
}

.headline__title{
  margin-bottom: 18px;
  font-size: 48px;
  line-height: 52px;
  font-weight: 700;


	@include media('>=xs-phone') {
		// здесь будут стили 320 - 1024
			font-size: 2em;
			line-height: 2.25em;
		}


}

.headline__subtitle{
	color: $dark-gray;
	font-family: 'Play';
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
	max-width: 530px;
	margin: 0 auto 62px;

	@include media('>=xs-phone') {
		// здесь будут стили 320 - 1024
		max-width:  27.25em;
		}
	
}