.hero{
	background-color: #F5F5F5;
	padding-top: 20px;
	height: 100vh;
	

	@include media('<=tablet') {
		// здесь будут стили 768 - 1024
		height: 100vh;
		overflow: hidden;

		.container{
			padding: 0 3%;
		}
	}
	.container{
		position: relative;
		max-width: 940px;
		&::before{
			content: "";
			position: absolute;
			width: 45px;
			height: 45px;
			bottom: -24px;
			right: 64px;
			background-image: url('../images/rectangle.svg');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}

	@include media('>=xs-phone') {
		// здесь будут стили 768 - 1024
		overflow: hidden;
		height: 60em;
	}
}

.hero__info{
	display: flex;
	margin-top: -58px;
	margin-left: 60px;

	@include media('<=tablet') {
		// здесь будут стили 768 - 1024
		display: none;
	}

	@include media('<=xs-phone') {
		// здесь будут стили 768 - 1024
		display: none;
	}

}

.hero__content{
	max-width: 440px;
	margin-top: 48px;
	padding-bottom: 77px;

	@include media('<=tablet') {
		// здесь будут стили 768 - 1024
		max-width: 42em;
		text-align: center;
	}

	@include media('<=xs-phone') {
		// здесь будут стили 768 - 1024
		max-width: 42em;
		text-align: center;
	}
}

.info-icon__1{
	position: absolute;
	bottom: -24%;
	left: 4%;

}

.hero__title{
	font-family: 'Play';
	font-size: 48px;
	line-height: 52px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 20px;


	@include media('<=phone') {
		// здесь будут стили 480 - 1024
		font-size: 2em;
		line-height: 2.25em;
		font-weight: 700;		
		max-width: 11.1875em;
		margin-right: 1.3125em;
		
	}


	@include media('<=xs-phone') {
		// здесь будут стили 480 - 1024
		font-size: 2em;
		line-height: 2.25em;
		font-weight: 700;		
		max-width: 11.1875em
	}

}

.hero__text{
	font-family: 'Alegreya Sans';
	font-size: 21px;
	line-height: 25px;
	font-weight: 400;
	max-width: 332px;
	margin-bottom: 37px;


	@include media('<=tablet') {
		// здесь будут стили 768 - 1024
		margin: 0 auto;
	}

	@include media('<=phone') {
		// здесь будут стили 768 - 1024
		margin-right: 1.3em;
	}

	@include media('<=xs-phone') {
		// здесь будут стили 480 - 1024
		font-size: 1.125em;
		font-weight: 400;
		line-height: 1.25em;
		margin: 0 auto;
		padding-bottom: 1.625em;
	}
}

.hero__button{
	padding: 21px 41px;
	background-color: $red;
	border-radius: 100px;
	border: none;
	color: $white;
	font-family: 'Play';

	@include media('<=tablet') {
		// здесь будут стили 768 - 1024
		margin-top: 1.4375em;
		
	}

	&:hover{
		background-color: $dark-gray;
		transition: all .5s;
		cursor: pointer;
	}
}

.hero__list{
	padding-left: 12px;
	max-width: 100px;
}

.hero__list-info{
	font-family: 'Play';
	max-width: 100px;
	padding-left: 15px;
}



 
.hero__wrapper{
	display: flex;
	display: flex;
		flex-direction: column-reverse;
		align-items: center;

	@include media('>=tablet') {
		// здесь будут стили 768 - 1024
		flex-direction: row;
	}

	@include media('>=xs-phone') {
		// здесь будут стили 768 - 1024
		
	}
}

.hero__logo{
	@include media('<=tablet') {
		// здесь будут стили 768 - 1024
		max-width: 20.1em;
	}
	@include media('<=xs-phone') {
		// здесь будут стили 768 - 1024
		max-width: 20.1em;
	}
}

.hero__info-item{
	display: flex;
	align-items: center;
	margin-right: 25px;
	

	&:last-child{
		margin: 0;
	}
}

.hero__dots{
	position: fixed;
	right: 50px;
	top: 40%;
	transform: translateY(-50%);
	padding: 0;
	margin: 0;

	@include media('<=tablet'){
		display: none;
	}

	@include media('<=phone'){
		display: none;
	}

	@include media('<=xs-phone'){
		display: none;
	}
}

.button__dots{
	font-size: 0;
	width: 6px;
	height: 6px;
	background: rgba(#292929, .6);
	border: none;
	border-radius: 50%;
	padding: 0;
	margin: 0 auto;
	cursor: pointer;
	position: relative;

}


.hero__dots-item{
	margin-bottom: 5px;
	width: 16px;
	height: 16px;
	display: flex;
	justify-content: center;
	align-items: center;

	&:last-child{
		margin-bottom: 0;
	}

	&.active{
		.button__dots{
				background: #E01F3D;
				position: relative;
				&::before{
					content: '';
					position: absolute;
					width: 16px;
					height: 16px;
					border-radius: 50%;
					border: 1px solid #E01F3D;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
		}
	}

	@include media('<=tablet'){
		display: none;
	}

	@include media('<=phone'){
		display: none;
	}

	@include media('<=xs-phone'){
		display: none;
	}
}



  





