.modal{
    display: none;

    &.error-modal {
        .modal__content{
            color: red;
        }
    }

    &.fancybox-content{
        padding: 0 !important;
    }

    .fancybox-button{
        display: none;
    }
}

.modal__container{
    background: #fff;
    padding: 35px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.btn--theme--red{
    font-family: 'Play';
    background: red;
    color: #fff;

    &:hover{
        background: #666;
        color: #fff;
        transition: all .3s;

    }
}


.btn{
    font-size: 1.05556rem;
    font-weight: bold;
    padding: 1rem 2.05556rem;
    text-transform: uppercase;
    border-radius: 5.55556em;
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    border: none;
}

.modal__content{
    font-family: 'Play';
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding-bottom: 1em;
}

