.price{
    background-color: $light-gray;
    overflow: hidden;
    height: 60em;
     position: relative;

        &.price::before{
            content: "";
            position: absolute;
            background-image: url('../images/square.svg');
            background-repeat: no-repeat;
            background-size: contain;
            width: 24px;
            height: 24px;
            bottom: 0;
            right: 15%;
        }

        @include media('<=tablet') {
            // здесь будут стили 768 - 1024
            height: 100vh;
            overflow: hidden;
    
            .container{
                padding: 0 3%;
            }
        }
}

.price__slider-info{
    margin-left: 60px;
    margin-top: 66px;

    @include media('<=tablet'){
       margin-left: 0;
       padding: 0 3%;
       margin-top: 3.125em;
    }
}

.price__slider{
    display: flex;
    position: relative;

    @include media('<=tablet'){
        flex-direction: column;
        align-items: center;
    }
}

.price__right{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%);

    @include media('<=tablet'){
        content: "";
        position: absolute;
        top: 36%;
        right: 15%; 
    }

    @include media('<=620px'){
        content: "";
        position: absolute;
        top: 31%;
        right: 6%; 
    }

    @include media('<=phone'){
        content: "";
        position: absolute;
        top: 31%;
        right: 0; 
    }

    @include media('<=366px'){
        display: none;
    }
    
}

.price__left{
    content: "";
    position: absolute;
    left: -5%;
    top: 50%;
    transform: translate(-50%);

    @include media('<=tablet'){
        content: "";
        position: absolute;
        top: 36%;
        left: 15%; 
    }
    
    @include media('<=620px'){
            content: "";
            position: absolute;
            top: 31%;
            left: 6%; 
    }

    @include media('<=phone'){
        content: "";
        position: absolute;
        top: 30%;
        left: 0; 
    }

    @include media('<=366px'){
        display: none;
    }
}

.price__info{
    display: flex;

    @include media('<=tablet'){
        justify-content: center;
    }
}

.price__power{
    display: flex;
    flex-direction: column;

    &.price__weight{

    }

}

.price__image-wrapper{
    margin-top: 96px;
}

.price__weight{
    padding-left: 86px;
}



.price__title{
    font-family: 'Play';
    font-size: 36px;
    line-height: 41px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 419px;

    @include media('<=tablet'){
        font-size: 1.75em;
        max-width: 37.5em;
    }

    @include media('<=598px'){
        text-align: center;
    }

    @include media('<=466px'){
        text-align: center;
    }

    @include media('<=phone'){
        max-width: 26em;
        text-align: center;
    }
}

p{
    max-width: 368px;

    @include media('<=tablet'){
        max-width: 38.375em;
        text-align: center;
    }
    @include media('<=phone'){
        max-width: 25.75em;
        text-align: center;
    }

}

span{
    font-family: 'Play';
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;

}

.price__list{
    display: -webkit-box;
    margin-top: 24px;

    @include media('<=tablet'){
      display: flex;
      justify-content: center;  

      &.hero__button{
        margin: 0;
      }
    }

    @include media('<=340px'){
        flex-direction: column;
    }

    @include media('<=xs-phone'){
        flex-direction: column;
    }

  
}

.price__subtitle-sum{
    font-family: 'Play';
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    padding-right: 13px;
    margin-top: 12px;

    @include media('<=340px'){
        text-align: center;
    }

    @include media('<=xs-phone'){
        text-align: center;
    }
}

.price__icon{
    border: none;
    width: 91px;
    height: 91px;
    background-color: #9A9A9A;
    cursor: pointer;
    margin-bottom: 25px;
}

.hero__dots{
    @include media('<=tablet'){
        display: none;
    }
}

.price__subicon-menu{
    display: flex;
    @include media('<=tablet'){
        display: none;
    }
}

.price__logo{
    @include media('<=tablet'){
        max-width: 19.125em;
    }
}

.drop__list{
    padding: 8% 11%;
}

.drop__down-item{
    margin-bottom: 28px;

    &:last-child{
        margin: 0;
    }
}

.drop-down__menu{
    border-radius: 4px;
    width: 273px;
    height: 294px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
}

.drop__down-bluetooth{
    margin-left: 51px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.drop__down-power{
    margin-left: 60px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.drop__down-range{
   margin-left: 60px;
   font-size: 16px;
   line-height: 24px;
   font-weight: 400;
}

.drop__down-gramm{
    margin-left: 70px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.drop__down-year{
    margin-left: 40px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

