.section__reviews{
		padding: 50px 0;
		height: 100vh;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  overflow: hidden;
	  .container{
		  position: relative;
		  &::before{
			  content: "";
			  position: absolute;
			  border-radius: 50%;
			  width: 35px;
			  height: 35px;
				bottom: -220px;
			  left: 0;
				background-image: url('../images/circle.svg');
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center center;
		  }
	  }
  }




.reviews__subinfo{
	// здесь будут стили 320 - 768
	margin-bottom: 32px;
	background: #F8FAF9;
	overflow: hidden;
	position: relative;
	min-height: 280px;

	
	
	&::before{
		content: "";
		display: block;
		width: 90px;
		height: 90px;
		background: #fff;
		border-radius: 50%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: -65px ;


		@include media('<=phone') {
			// здесь будут стили 768 - 1024
			display: none;
		}
	}

}

.reviews__info{
	display: flex;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: .3s;

	@include media('<=tablet') {
		// здесь будут стили 768 - 1024
		flex-direction: column;
		max-width: 45.25em;
	}
}

.active{
	position: static;
	opacity: 1;

}

.reviews__title{
	text-align: center;
	font-family: 'Play';
	font-size: 38px;
	line-height: 52px;
	font-weight: 700;
}

.reviews__info-text{
	padding-top: 56px;


	@include media('<=tablet') {
		// здесь будут стили 768 - 1024
		margin-bottom: 30px;
		padding: 0;
	}

		
}

.reviews__name{
	padding-top: 11px;
	font-family: 'Play';
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;


	@include media('<=tablet') {
		// здесь будут стили 768 - 1024
		text-align: center;
		line-height: 1.5em;
		font-weight: 400;
		font-size: 1.125em;
	}
}

	.reviews__subtitle{
		font-family: 'Play';
		font-size: 24px;
		line-height: 27px;
		font-weight: 700;

		@include media('<=tablet') {
			// здесь будут стили 768 - 1024
			text-align: center;
		}
}

.reviews__subtitle-text{
	font-family: 'Play';
	font-size: 16px;
	line-height: 19px;
	color: $dark-gray;
	max-width: 480px;

	@include media('<=tablet') {
		// здесь будут стили 768 - 1024
		max-width: 42.3125em;
		text-align: center;
	}
}

.reviews__img{
	padding: 42px;

	@include media('<=tablet') {
		// здесь будут стили 768 - 1024
		max-width: 8.125em;
		margin: 0 auto;
	}
	
}

.reviews__list{
	display: flex;
	justify-content: center;
}

.reviews__item{

	margin-left: 6px;
}

.reviews__item:first-child{
	margin: 0;
}

.reviews__item{
	// box-sizing: border-box;
  
	width: 74px;
	height: 74px;
	border-radius: 50%;
	overflow: hidden;
	border: 6px solid transparent;
	position: relative;
	cursor: pointer;
	&.visit{

		&:hover{
			border:	transparent;
		}
	}


	&:hover{
	border-radius: 50%;
	border: 5px solid $red;
	max-width: 74px;
	}

	&.active{
		border-color: red;
	}
}

// .reviews__item{
// 	position: static;
// 	opacity: 1;
// 	pointer-events: unset;

// 	.reviews__item{
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		right: 0;
// 		bottom: 0;
// 		pointer-events: none;
// 		transition: .3s;
// 		opacity: 0;
// 	}
// }