.section__reviews{
		padding: 50px 0;
		height: 100vh;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  .container{
		  position: relative;
		  &::before{
			  content: "";
			  position: absolute;
			  border-radius: 50%;
			  width: 35px;
			  height: 35px;
				bottom: -220px;
			  left: 0;
				background-image: url('../images/circle.svg');
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center center;
		  }
	  }
	  @include media('>=tablet') {
		// здесь будут стили 768 - 1024
		overflow: hidden;
	}
  }




.reviews__subinfo{
	// здесь будут стили 320 - 768
	display: flex;
	margin-bottom: 32px;
	background: #F8FAF9;
	overflow: hidden;
	position: relative;


	
	
	&::before{
		content: "";
		display: block;
		width: 90px;
		height: 90px;
		background: #fff;
		border-radius: 50%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: -65px ;

		@include media('<=phone') {
			// здесь будут стили 480 - 1024
				display: none;
			}

			@include media('<=tablet') {
				// здесь будут стили 480 - 1024
					display: none;
				}
	}

}

.reviews__title{
	text-align: center;
	font-family: 'Play';
	font-size: 38px;
	line-height: 52px;
	font-weight: 700;
}

.reviews__info-text{
	padding-top: 56px;


	@include media('>=tablet') {
		// здесь будут стили 768 - 1024
		margin-bottom: 30px;
		}

		
}

.reviews__name{
	padding-top: 11px;
	font-family: 'Play';
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
}

	.reviews__subtitle{
		font-family: 'Play';
		font-size: 24px;
		line-height: 27px;
		font-weight: 700;
}

.reviews__subtitle-text{
	font-family: 'Play';
	font-size: 16px;
	line-height: 19px;
	color: $dark-gray;
	max-width: 480px;
}

.reviews__img{
	padding: 42px;
	
}

.reviews__list{
	display: flex;
	justify-content: center;
}

.reviews__item{

	margin-left: 6px;
}

.reviews__item:first-child{
	margin: 0;
}

.reviews__avatar{
	box-sizing: border-box;
	border: 2px solid transparent;
  
	&.visit{
		border-radius: 50%;
		border: 5px solid $red;

		&:hover{
			border:	transparent;
		}
	}


	&:hover{
	border-radius: 50%;
	border: 5px solid $red;
	max-width: 74px;
	}
}