.section{
	padding: 103px 0;
	.container{
		position: relative;
		&::before{
			content: "";
			position: absolute;
			width: 34px;
			height: 34px;
			bottom: -88px;
			left: -88px;
			background-image: url('../images/tringle.svg');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}

	@include media('>=tablet') {
		// здесь будут стили 768 - 1024
		overflow: hidden;
		max-width: 97.333%;
		}

		@include media('>=xs-phone') {
			// здесь будут стили 768 - 1024
				overflow: hidden;
				max-width: 97.333%;
			}
}
.section__title{
	font-family: 'Play';
	font-size: 36px;
	line-height: 52px;
	font-weight: 700;
	margin-bottom: 50px;
	text-align: center;
	text-transform: uppercase;
}