.section{
	padding: 103px 0;
	.container{
		position: relative;
		&::before{
			content: "";
			position: absolute;
			width: 34px;
			height: 34px;
			bottom: -69px;
			left: -88px;
			background-image: url('../images/tringle.svg');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
}
.section__title{
	font-family: 'Play';
	font-size: 36px;
	line-height: 52px;
	font-weight: 700;
	margin-bottom: 50px;
	text-align: center;
	text-transform: uppercase;
}