.team{
    overflow: hidden;
    height: 100vh;
}

.title__team{
    text-align: center;
    font-family: 'Play';
    font-size: 48px;
    line-height: 52px;
    font-weight: 700;
    margin-top: 73px;
    @include media('<=tablet'){
        margin-bottom: 16px;
        text-align: center;
    }
}

.team__list{
    display: flex;
    justify-content: space-between;
}

.team__list-item{
    position: relative;
}

.team--version--desktop{


    @include media('<=desktop'){

    @include media ('<=tablet'){
        display: none;
    }
}
.team__bio-wrapper{
    overflow: hidden;
    position: absolute;
    top: 100%;
    height: 0;
    transition: height .3s;
}
}
.team--version--mobile{

    @include media ('>=tablet'){
        display: none;
    }
    @include media ('<=tablet'){
            flex-direction: column;
            align-items: center;
            text-align: center;
    }
    .team__content{
        overflow: hidden;
        height: 0;
        transition: height .3s;
    }
}

.team__title{

    border: none;
    background-color: transparent;
    font-family: 'Play';
    font-size: 21px;
    line-height: 25px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    margin-bottom: 16px;

    &:last-child{
        margin-bottom: 0;
    }

    &::after{
        content: "";
        position: absolute;
        top: 7px;
        right: -10px;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 6px solid red;
    }
    @include media ('<=tablet'){
        border: none;
        background-color: transparent;
        font-family: 'Play';
        font-size: 21px;
        line-height: 25px;
        font-weight: 700;
        cursor: pointer;
        position: relative;
        margin-bottom: 16px;

        &:last-child{
            margin-bottom: 0;
        }

        &::after{
            content: "";
            position: absolute;
            top: 7px;
            right: -10px;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 6px solid red;
        }
    }
}






.team__link{
    font-family: 'Play';
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    position: relative;

    &::after{
        content: "";
        position: absolute;
        top: 7px;
        right: -10px;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 6px solid red;
    }
}




.team__bio{
    display: flex;
    flex-direction: column;
    // height: 0;
}

.team__info{
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: $black;
    margin-top: 11px;
}

.team__avatar{

}

.team__name{
    text-align: center;
    margin-top: 25px;
    
}

.team__text{
    margin: 0 auto;
    padding-top: 4px;
    max-width: 221px;

}
