.team{
    overflow: hidden;
    height: 100vh;
}

.title__team{
    text-align: center;
    font-family: 'Play';
    font-size: 48px;
    line-height: 52px;
    font-weight: 700;
    margin-top: 73px;
}

.team__list{
    display: flex;
    justify-content: space-between;
    @include media('<=tablet'){
        flex-direction: column;
        text-align: center;
    }
}

.team--version--mobile{
    display: none;
}


.team__link{
    font-family: 'Play';
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    position: relative;

    &::after{
        content: "";
        position: absolute;
        top: 7px;
        right: -10px;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 6px solid red;
    }
}


.team__bio{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 0;
}

.team__info{
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: $black;
    margin-top: 11px;
}

.team__avatar{

}

.team__name{
    text-align: center;
    margin-top: 25px;
    
}

.team__text{
    margin: 0 auto;
    padding-top: 4px;
    max-width: 221px;

}
