.video{
    height: 100vh;
    overflow: hidden;
}

.player{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    max-width: 662px;
    width: 100%;
    margin: 0 auto;
    
    &.active .player__splash{
        display: none;
    }
    &.paused{
        .player__start{
          
              &:after,
              &:before{
                  content: "";
                  display: block;
                  position: absolute;
                  width: 5px;
                  top: 0;
                  bottom: 0;
                  height: 14px;
                  background: #fff;
                  border: none;
              }
          
              &:after{
                  right: 0;
              }
          
              &:before{
                  left: 0;
              }

      }
    }
}

.player__start{
    width: 14px;
    height: 14px;
    border: none;
    position: relative;
    background: transparent;

    &:after{
        content: "";
        display: block;
        position: absolute;
        width: 5px;
        top: -1px;
        bottom: 0;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-left: 11px solid #fff;
        border-bottom: 8px solid transparent;
        background: transparent;
    }

    &:after{
        right: 0;
    }

    &:before{
        left: 0;
    }

}

.player__splash{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    &::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url('../../images/play.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        width: 48px;
        height: 70px;
        transition: all .2s;
    }

    &:hover{
        &::before{
            opacity: .7;
        }
    }

}

.player__controls{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    background: #3e3e3e;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

.player__playback{
    height: 16px;
    width: 446px;
    position: relative;
}

.player__playback::before{
    content: "";
    height: 4px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    background: #333;
    display: block;
    transform: translateY(-50%);
}

.player__playback-button{
    background: #626262;
    border-radius: 50px;
    border: none;
    width: 12px;
    height: 12px;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}