.footer{
    overflow: hidden;
    padding: 0 4%;
    position: relative;
    height: 7em;
}

.social{
    display: flex;
    position: absolute;
    bottom: 30px;
    right: 50px;


    @include media('<=phone'){
       justify-content: center;
    }
}

.contacts{
    margin-top: 30px;
}

.address__text{
    font-family: 'Play';
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}

.social__item{
    padding-right: 10px;

    &:last-child{
        padding: 0;
    }
}


