body.is-active{
	overflow: hidden;
}

.header{
	margin-bottom: 47px;

	// 320 - 768
	@include media('<=tablet') {
		// здесь будут стили 768 - 1024
	}
	
	@include media('<=desktop') {
		// 1024 
		margin-bottom: 47px;
	}
	@include media('<=1112px') {
		
	}
	.container{
	  display: flex;
	  align-items: center;
		&::before{
			display: none;
		}
	}
  }

	.navigation{
		@include media('<=tablet') {
			opacity: 0;
			visibility: hidden;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 10;
			display: flex;
			justify-content: center;
			align-items: center;

			&::before{
				content: '';
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				background: #313131;
				z-index: 9;
			}

		}

		.is-active &{
			opacity: 1;
			visibility: visible;
		}

	
	}
  
  .list{
		display: flex;
		padding: 0;
		@include media('<=tablet') {
			// здесь будут стили 768 - 1024
			// display: none;
			flex-direction: column;
			position: relative;
			z-index: 12;

			.list__link{
				font-size: 36px;
				line-height: 72px;
				font-weight: 400;
			}

			.list__item{
				text-align: center;
			}
		}

		@include media('<=xs-phone') {
			// здесь будут стили 768 - 1024
			// display: none;
		}

  }
  
  .list__item{
	font-family: 'Alegreya Sans';
	font-size: 13px;
	line-height: 17px;
	font-weight: 400;
	margin-left: 15px;
	
	@include media('<=desktop') {
		// 1024 
		font-size: 18px;
		line-height: 30px;
		margin-left: 27px;
	}

	@include media('<=tablet') {
		// здесь будут стили 768 - 1024
		margin-left: 0;
		
		&.phone__info{
			display: none;
		}
	}
  
	&:first-child{
	  margin: 0;
	}
	@include media('<=xs-phone') {
		// здесь будут стили 768 - 1024
		// display: none;
	}
  }
  
  .logo{
	margin-right: 38px;
  }
  
  
  .phone__info{
	margin: 0 auto;
  }
  
  .list__link{

		@include media('<=tablet') {
			color: #fff;
		}
	&:hover{
	  color: $red;
	  transition: all .5s;
	}
  }
  
  .logo__phone{
	padding-right: 7px;

	@include media('<=tablet') {
		// здесь будут стили 768 - 1024
		display: none;
	}

	@include media('<=xs-phone') {
		// здесь будут стили 768 - 1024
		display: none;
	}
  }
  
  .phone{
	font-family: 'Play';
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;


	@include media('<=tablet') {
		// здесь будут стили 768 - 1024
		display: none;
	}
	@include media('<=xs-phone') {
		// здесь будут стили 768 - 1024
		display: none;
	}
  }

  .burger__menu{
	  width: 24px;
	  height: 20px;
	  display: inline-flex;
	  flex-direction: column;
	  justify-content: space-between;
	  display: none;
	  
	  @include media('<=tablet') {
		// здесь будут стили 768 - 1024
		display: inline-flex;
		position: absolute;
		right: 9%;
		top: 20%;
		bottom: 0;
		z-index: 20;
	}

	@include media('<=xs-phone') {
		// здесь будут стили 768 - 1024
		display: inline-flex;
	}

		.is-active &{
			.burger__plank{
				background: #fff;

				&:first-child{
					transform: rotate(45deg);
					top: 9px;
				}
				&:nth-child(2){
					transform: rotate(-45deg);
					top: -7px;
				}
				&:last-child{
					display: none;
				}
			}
		}
  }

  .burger__plank{
	  display: block;
	  background: #292929;
	  height: 4px;
	  border-radius: 10px;
	  position: relative;
	  transition: all .2s;
  }






