.header{
	margin-bottom: 47px;

	// 320 - 768
	@include media('<=tablet') {
		// здесь будут стили 768 - 1024
	}
	
	@include media('<=desktop') {
		// 1024 
		margin-bottom: 47px;
	}
	@include media('<=1112px') {
		
	}
	.container{
	  display: flex;
	  align-items: center;
		&::before{
			display: none;
		}
	}
  }
  
  .list{
		display: flex;
		padding: 0;
		@include media('<=tablet') {
			// здесь будут стили 768 - 1024
			display: none;
		}

		@include media('<=xs-phone') {
			// здесь будут стили 768 - 1024
			display: none;
		}

  }
  
  .list__item{
	font-family: 'Alegreya Sans';
	font-size: 13px;
	line-height: 17px;
	font-weight: 400;
	margin-left: 15px;
	

	@include media('<=tablet') {
		// здесь будут стили 768 - 1024


		&.phone__info{
			display: none;
		}
	}
	
	@include media('<=desktop') {
		// 1024 
		font-size: 18px;
		line-height: 30px;
		margin-left: 27px;
	}
  
	&:first-child{
	  margin: 0;
	}
	@include media('<=xs-phone') {
		// здесь будут стили 768 - 1024
		display: none;
	}
  }
  
  .logo{
	margin-right: 38px;
  }
  
  
  .phone__info{
	margin: 0 auto;
  }
  
  .list__link{
	&:hover{
	  color: $red;
	  transition: all .5s;
	}
  }
  
  .logo__phone{
	padding-right: 7px;

	@include media('<=tablet') {
		// здесь будут стили 768 - 1024
		display: none;
	}

	@include media('<=xs-phone') {
		// здесь будут стили 768 - 1024
		display: none;
	}
  }
  
  .phone{
	font-family: 'Play';
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;


	@include media('<=tablet') {
		// здесь будут стили 768 - 1024
		display: none;
	}
	@include media('<=xs-phone') {
		// здесь будут стили 768 - 1024
		display: none;
	}
  }

  .burger__menu{
	  width: 24px;
	  height: 20px;
	  display: inline-flex;
	  flex-direction: column;
	  justify-content: space-between;
	  display: none;
	  
	  @include media('<=tablet') {
		// здесь будут стили 768 - 1024
		display: inline-flex;
	}

	@include media('<=xs-phone') {
		// здесь будут стили 768 - 1024
		display: inline-flex;
	}
  }

  .burger__plank{
	  display: block;
	  background: #292929;
	  height: 4px;
	  border-radius: 10px;
  }






